In [1]:
# Import module/s
import pandas as pd
import numpy as np

# NBA Data Cleaning

In [67]:
# Read in NBA csv for player salary data
# Set encoding to ISO-8859-1
nba_csv = '../data/raw/NBA_PlayerByYear.csv'
nba_data = pd.read_csv(nba_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
nba_df = pd.DataFrame(nba_data)
nba_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.C. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1700000.0,5125088,5095088.0,4851000.0,6473000,6472600.0,1885000.0,1750000.0,1750000.0,1750000.0
1,A.J. Bramlett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118974.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150000.0,406000.0,325000.0,275000.0
3,A.J. Guyton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Price,NaN,NaN,281484.0,947907.0,885120.0,854389.0,762195.0,457588.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Get info on NBA data
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2204 non-null   object
 1   2017    499 non-null    float64
 2   2016    500 non-null    float64
 3   2015    513 non-null    float64
 4   2014    501 non-null    float64
 5   2013    481 non-null    float64
 6   2012    464 non-null    float64
 7   2011    460 non-null    float64
 8   2010    457 non-null    float64
 9   2009    461 non-null    float64
 10  2008    470 non-null    float64
 11  2007    496 non-null    float64
 12  2006    480 non-null    float64
 13  2005    471 non-null    float64
 14  2004    455 non-null    float64
 15  2003    452 non-null    float64
 16  2002    451 non-null    float64
 17  2001    456 non-null    float64
 18  2000    517 non-null    float64
 19  1999    447 non-null    object
 20  1998    445 non-null    float64
 21  1997    416 non-null    float64
 22  1996    461 non-null    object
 23  1995    419 non-null    float64
 24  1994    386 non-null    float64
 25  1993    402 non-null    float64
 26  1992    384 non-null    float64
 27  1991    353 non-null    float64
dtypes: float64(25), object(3)
memory usage: 482.2+ KB

In [69]:
# Check for 'Unknown' values in the entire DataFrame
unknown_values_mask = nba_df.applymap(lambda x: x == 'Unknown')

# Get the rows and columns where 'Unknown' values are present
unknown_values_locations = (unknown_values_mask).any(axis=1)

# Display rows where 'Unknown' values are present
rows_with_unknown_values = nba_df[unknown_values_locations]
# print(rows_with_unknown_values)

# Display quantity of 'Unknown' values 
total_unknown_values = rows_with_unknown_values.count().sum()
print("Total 'Unknown' values:", total_unknown_values)

Total 'Unknown' values: 283

### NOTE:
above cell must be executed again after executing below cell to show proper removal of 'Unknown' values

In [70]:
# Replace 'Unknown's with NaN to match other non-numeric (NaN) values
nba_df = nba_df.replace(to_replace='Unknown', value=np.nan)

# Re-Check 'Unknown' values
print("Total 'Unknown' values:", total_unknown_values)

Total 'Unknown' values: 283

In [71]:
# Convert the object type columns to floats
nba_df['1999'] = nba_df['1999'].astype(float)
nba_df['1996'] = nba_df['1996'].astype(float)

# Re-check data
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2204 non-null   object
 1   2017    499 non-null    float64
 2   2016    500 non-null    float64
 3   2015    513 non-null    float64
 4   2014    501 non-null    float64
 5   2013    481 non-null    float64
 6   2012    464 non-null    float64
 7   2011    460 non-null    float64
 8   2010    457 non-null    float64
 9   2009    461 non-null    float64
 10  2008    470 non-null    float64
 11  2007    496 non-null    float64
 12  2006    480 non-null    float64
 13  2005    471 non-null    float64
 14  2004    455 non-null    float64
 15  2003    452 non-null    float64
 16  2002    451 non-null    float64
 17  2001    456 non-null    float64
 18  2000    517 non-null    float64
 19  1999    427 non-null    float64
 20  1998    445 non-null    float64
 21  1997    416 non-null    float64
 22  1996    450 non-null    float64
 23  1995    419 non-null    float64
 24  1994    386 non-null    float64
 25  1993    402 non-null    float64
 26  1992    384 non-null    float64
 27  1991    353 non-null    float64
dtypes: float64(27), object(1)
memory usage: 482.2+ KB

### Rounding Salary Values
Final desired format for all salary values will be whole numbers with no decimals

In [72]:
# Identify numeric columns (excluding 'Player' column)
numeric_columns = nba_df.select_dtypes(include=['number']).columns.difference(['Player'])

# Convert 'Salary' column to numeric, handling non-numeric values
#nba_df['Salary'] = pd.to_numeric(nba_df['Salary'], errors='coerce')

# Round and convert only the numeric columns (excluding 'Player' column)
nba_df[numeric_columns] = nba_df[numeric_columns].apply(lambda x: round(x).astype('Int64'))

# Print the modified DataFrame
print(nba_df)

                  Player  2017     2016     2015    2014    2013    2012  \
0             A.C. Green  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
1          A.J. Bramlett  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2           A.J. English  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
3            A.J. Guyton  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
4             A.J. Price  <NA>     <NA>   281484  947907  885120  854389
...                  ...   ...      ...      ...     ...     ...     ...
2199      Zeljko Rebraca  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2200     Zendon Hamilton  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2201        Zoran Dragic  <NA>  1756500  1756500    <NA>    <NA>    <NA>
2202      Zoran Planinic  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2203  Zydrunas Ilgauskas  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>

         2011      2010      2009  ...     2000     1999     1998     1997  \
0        <NA>      <NA>      <NA>  ...  1700000  5125088  5095088  4851000
1        <NA>      <NA>      <NA>  ...   118974     <NA>     <NA>     <NA>
2        <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
3        <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
4      762195    457588      <NA>  ...     <NA>     <NA>     <NA>     <NA>
...       ...       ...       ...  ...      ...      ...      ...      ...
2199     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2200     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2201     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2202     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2203  1352181  11541074  10841615  ...  9000000   936000   828000   720000

         1996     1995     1994     1993     1992     1991
0     6473000  6472600  1885000  1750000  1750000  1750000
1        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2        <NA>     <NA>   150000   406000   325000   275000
3        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
4        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
...       ...      ...      ...      ...      ...      ...
2199     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2200     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2201     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2202     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2203     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>

[2204 rows x 28 columns]

In [73]:
nba_df.head(15)

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.C. Green,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1700000,5125088,5095088,4851000,6473000,6472600,1885000,1750000,1750000,1750000
1,A.J. Bramlett,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,118974,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,A.J. English,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,150000,406000,325000,275000
3,A.J. Guyton,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,A.J. Price,<NA>,<NA>,281484,947907,885120,854389,762195,457588,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,A.J. Wynder,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,140000,130000,30000
6,Aaron Brooks,2700000,2250000,915243,947907,3250000,<NA>,2016692,1118520,1045560,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,Aaron Gordon,4351320,4171680,3992040,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
8,Aaron Gray,<NA>,1356146,1227985,2690875,2575000,2500000,1028840,1000497,711517,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,Aaron Harrison,874636,525093,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
10,Aaron McKie,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1624000,1430000,1235000,1040000,845000,650000,<NA>,<NA>,<NA>,<NA>
11,Aaron Miles,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
12,Aaron Swinson,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,102424,<NA>,<NA>,<NA>,<NA>
13,Aaron Williams,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1100000,575000,500000,169000,<NA>,150000,<NA>,<NA>,<NA>,<NA>
14,Acie Earl,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,1430000,1235000,1040000,845000,650000,<NA>,<NA>,<NA>

### NOTE:
`NaN` values are automatically converted to `<NA>`values when applying rounding and conversion operations to columns containing missing values in Pandas. <br>
`<NA>` is used specifically for missing values in nullable integer data types, providing better support for integer-specific operations.

In [74]:
# Add 'League' column, for purposes of the final merged DataFrame showing the league of each player

# Define desired column position
insert_pos = 0

# Create and insert 'League'column
nba_df.insert(insert_pos, 'League', 'NBA')

# Display DF to verify column addition
nba_df.head()

,League,Player,2017,2016,2015,2014,2013,2012,2011,2010,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,NBA,A.C. Green,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1700000,5125088,5095088,4851000,6473000,6472600,1885000,1750000,1750000,1750000
1,NBA,A.J. Bramlett,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,118974,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,NBA,A.J. English,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,150000,406000,325000,275000
3,NBA,A.J. Guyton,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,NBA,A.J. Price,<NA>,<NA>,281484,947907,885120,854389,762195,457588,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [75]:
# Review final NBA DataFrame info 
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   League  2204 non-null   object
 1   Player  2204 non-null   object
 2   2017    499 non-null    Int64
 3   2016    500 non-null    Int64
 4   2015    513 non-null    Int64
 5   2014    501 non-null    Int64
 6   2013    481 non-null    Int64
 7   2012    464 non-null    Int64
 8   2011    460 non-null    Int64
 9   2010    457 non-null    Int64
 10  2009    461 non-null    Int64
 11  2008    470 non-null    Int64
 12  2007    496 non-null    Int64
 13  2006    480 non-null    Int64
 14  2005    471 non-null    Int64
 15  2004    455 non-null    Int64
 16  2003    452 non-null    Int64
 17  2002    451 non-null    Int64
 18  2001    456 non-null    Int64
 19  2000    517 non-null    Int64
 20  1999    427 non-null    Int64
 21  1998    445 non-null    Int64
 22  1997    416 non-null    Int64
 23  1996    450 non-null    Int64
 24  1995    419 non-null    Int64
 25  1994    386 non-null    Int64
 26  1993    402 non-null    Int64
 27  1992    384 non-null    Int64
 28  1991    353 non-null    Int64
dtypes: Int64(27), object(2)
memory usage: 557.6+ KB

# NHL Data Cleaning

In [3]:
# Read in csv for the NHL player salary data
# Utilize encoding='ISO-8859-1'
nhl_csv = '../data/raw/NHL_PlayerByYear.csv'
nhl_data = pd.read_csv(nhl_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
nhl_df = pd.DataFrame(nhl_data)
nhl_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,A.J. Greer,741666.0,741666.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Dell,625000.0,625000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aaron Ekblad,7500000.0,925000.0,925000.0,1775000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Johnson,NaN,NaN,NaN,NaN,NaN,650000.0,550000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Ness,612500.0,612500.0,NaN,NaN,NaN,875000.0,875000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Review NHL salary data 
nhl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1876 entries, 0 to 1875
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1876 non-null   object
 1   2017    1046 non-null   float64
 2   2016    1040 non-null   float64
 3   2015    964 non-null    float64
 4   2014    788 non-null    float64
 5   2013    790 non-null    float64
 6   2012    825 non-null    float64
 7   2011    957 non-null    float64
 8   2010    853 non-null    float64
 9   2009    734 non-null    float64
 10  2008    637 non-null    float64
 11  2007    469 non-null    float64
 12  2006    303 non-null    float64
 13  2005    186 non-null    float64
 14  2004    4 non-null      float64
 15  2003    107 non-null    float64
 16  2002    87 non-null     float64
 17  2001    71 non-null     float64
 18  2000    52 non-null     float64
dtypes: float64(18), object(1)
memory usage: 278.6+ KB

In [10]:
# Cell to round salary values to whole numbers (Same code as NBA cleaning, to match format)

# Identify numeric columns (excluding 'Player' column)
nhl_num_columns = nhl_df.select_dtypes(include=['number']).columns.difference(['Player'])

# Round and convert only the numeric columns (excluding 'Player' column)
nhl_df[nhl_num_columns] = nhl_df[nhl_num_columns].apply(lambda x: round(x).astype('Int64'))

# Display Rounded DataFrame
nhl_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,A.J. Greer,741666,741666,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Aaron Dell,625000,625000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Aaron Ekblad,7500000,925000,925000,1775000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Aaron Johnson,<NA>,<NA>,<NA>,<NA>,<NA>,650000,550000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Aaron Ness,612500,612500,<NA>,<NA>,<NA>,875000,875000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [11]:
# Add 'League' column, for purposes of the final merged DataFrame showing the league of each player

# Define desired column position
insert_pos = 0

# Create and insert 'League'column
nhl_df.insert(insert_pos, 'League', 'NHL')

# Display DF to verify column addition
nhl_df.head()

,League,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,NHL,A.J. Greer,741666,741666,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,NHL,Aaron Dell,625000,625000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,NHL,Aaron Ekblad,7500000,925000,925000,1775000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,NHL,Aaron Johnson,<NA>,<NA>,<NA>,<NA>,<NA>,650000,550000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,NHL,Aaron Ness,612500,612500,<NA>,<NA>,<NA>,875000,875000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

# NFL Data Cleaning

In [83]:
# Read in csv for NFL player salary data
# Utilize ISO-8859-1 encoding 
nfl_csv = '../data/raw/NFL_PlayerByYear.csv'
nfl_data = pd.read_csv(nfl_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame 
nfl_df = pd.DataFrame(nfl_data)
nfl_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.J. Jenkins,NaN,NaN,NaN,1.021.594,705.797,1.263.188,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Bouye,5.468.750,1.671.000,586.668,496.666,406.666,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Cann,921.399,785.399,635.399,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Derby,180.880,264.700,346.013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Edds,NaN,NaN,NaN,116.471,NaN,465.000,375.000,439.250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Examine NFL data
nfl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5690 entries, 0 to 5689
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  5690 non-null   object
 1   2017    2115 non-null   object
 2   2016    2094 non-null   object
 3   2015    2077 non-null   object
 4   2014    2046 non-null   object
 5   2013    2015 non-null   object
 6   2012    2156 non-null   object
 7   2011    1923 non-null   object
 8   2010    1718 non-null   object
 9   2009    1542 non-null   object
 10  2008    1379 non-null   object
 11  2007    1219 non-null   object
 12  2006    1027 non-null   object
 13  2005    817 non-null    object
 14  2004    623 non-null    object
 15  2003    457 non-null    object
 16  2002    374 non-null    object
 17  2001    281 non-null    object
 18  2000    252 non-null    object
 19  1999    1 non-null      object
 20  1998    169 non-null    object
 21  1997    0 non-null      float64
 22  1996    109 non-null    object
 23  1995    100 non-null    object
 24  1994    90 non-null     object
 25  1993    83 non-null     object
 26  1992    0 non-null      float64
 27  1991    72 non-null     object
dtypes: float64(2), object(26)
memory usage: 1.2+ MB

To start the cleaning I will:
1. removing the periods/decimal places from the salary values to match the desired whole number format
2. convert the data types of the salary columns to numeric

In [85]:
# 1. Function to remove periods from object columns (Salary columns)
def remove_periods(s):
    if isinstance(s, str):
        return s.replace('.', '')
    return s

# Apply the custom function to all columns except 'Player' and 'League'
nfl_df.loc[:, nfl_df.columns.difference(['Player'])] = nfl_df.loc[:, nfl_df.columns.difference(['Player'])].applymap(remove_periods)

# Verify DF was modified correctly
nfl_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.J. Jenkins,NaN,NaN,NaN,1021594,705797,1263188,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Bouye,5468750,1671000,586668,496666,406666,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Cann,921399,785399,635399,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Derby,180880,264700,346013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Edds,NaN,NaN,NaN,116471,NaN,465000,375000,439250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# 2. Convert numeric columns to 'Int64' type, handling empty values
numeric_columns = nfl_df.columns.difference(['Player'])
nfl_df[numeric_columns] = nfl_df[numeric_columns].apply(
    lambda col: pd.to_numeric(col, errors='coerce', downcast='integer'))

# Verify Data Type Conversion
print(nfl_df.info())
print(nfl_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5690 entries, 0 to 5689
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  5690 non-null   object
 1   2017    2115 non-null   float64
 2   2016    2094 non-null   float64
 3   2015    2077 non-null   float64
 4   2014    2046 non-null   float64
 5   2013    2015 non-null   float64
 6   2012    2156 non-null   float64
 7   2011    1923 non-null   float64
 8   2010    1718 non-null   float64
 9   2009    1542 non-null   float64
 10  2008    1379 non-null   float64
 11  2007    1219 non-null   float64
 12  2006    1027 non-null   float64
 13  2005    817 non-null    float64
 14  2004    623 non-null    float64
 15  2003    457 non-null    float64
 16  2002    374 non-null    float64
 17  2001    281 non-null    float64
 18  2000    252 non-null    float64
 19  1999    1 non-null      float64
 20  1998    169 non-null    float64
 21  1997    0 non-null      float64
 22  1996    109 non-null    float64
 23  1995    100 non-null    float64
 24  1994    90 non-null     float64
 25  1993    83 non-null     float64
 26  1992    0 non-null      float64
 27  1991    72 non-null     float64
dtypes: float64(27), object(1)
memory usage: 1.2+ MB
None
          Player       2017       2016      2015       2014      2013  \
0  A.J.  Jenkins        NaN        NaN       NaN  1021594.0  705797.0
1     A.J. Bouye  5468750.0  1671000.0  586668.0   496666.0  406666.0
2      A.J. Cann   921399.0   785399.0  635399.0        NaN       NaN
3     A.J. Derby   180880.0   264700.0  346013.0        NaN       NaN
4      A.J. Edds        NaN        NaN       NaN   116471.0       NaN

        2012      2011      2010  2009  ...  2000  1999  1998  1997  1996  \
0  1263188.0       NaN       NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1        NaN       NaN       NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2        NaN       NaN       NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3        NaN       NaN       NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4   465000.0  375000.0  439250.0   NaN  ...   NaN   NaN   NaN   NaN   NaN

   1995  1994  1993  1992  1991
0   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN

[5 rows x 28 columns]

In [87]:
# Above data type conversion successful, although left numeric values with ".0" endings 
# Will round and convert to integers as above cleaning NHL needed 
nfl_df[numeric_columns] = nfl_df[numeric_columns].apply(lambda x: round(x).astype('Int64'))

nfl_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.J. Jenkins,<NA>,<NA>,<NA>,1021594,705797,1263188,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,A.J. Bouye,5468750,1671000,586668,496666,406666,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,A.J. Cann,921399,785399,635399,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,A.J. Derby,180880,264700,346013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,A.J. Edds,<NA>,<NA>,<NA>,116471,<NA>,465000,375000,439250,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [88]:
# Add 'League' column, for purposes of the final merged DataFrame showing the league of each player

# Define desired column position
insert_pos = 0

# Create and insert 'League'column
nfl_df.insert(insert_pos, 'League', 'NFL')

# Display DF to verify column addition
nfl_df.head()

,League,Player,2017,2016,2015,2014,2013,2012,2011,2010,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,NFL,A.J. Jenkins,<NA>,<NA>,<NA>,1021594,705797,1263188,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,NFL,A.J. Bouye,5468750,1671000,586668,496666,406666,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,NFL,A.J. Cann,921399,785399,635399,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,NFL,A.J. Derby,180880,264700,346013,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,NFL,A.J. Edds,<NA>,<NA>,<NA>,116471,<NA>,465000,375000,439250,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

# MLB Data Cleaning

In [89]:
# Read in csv for the MLB player salary data
# UTF-8 default encoding was not reading, encoding='ISO-8859-1' likely needed for all csv's from the data source
mlb_csv = '../data/raw/MLB_PlayerByYear.csv'
mlb_data = pd.read_csv(mlb_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
mlb_df = pd.DataFrame(mlb_data)
mlb_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Abel De Los Santos,NaN,507.500,507.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Achter,NaN,507.500,507.500,500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Alexy,NaN,600.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Bogucki,NaN,150.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Burnett,NaN,NaN,8.500.000,11.250.000,16.500.000,16.500.000,16.500.000,16.500.000,16.500.000,13.200.000,13.200.000,2.200.000,3.750.000,2.500.000,2.500.000,367.500,NaN,NaN