In [66]:
# Import module/s
import pandas as pd
import numpy as np

# NBA Data Cleaning

In [67]:
# Read in NBA csv for player salary data
# Set encoding to ISO-8859-1
nba_csv = '../data/raw/NBA_PlayerByYear.csv'
nba_data = pd.read_csv(nba_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
nba_df = pd.DataFrame(nba_data)
nba_df.head()

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.C. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1700000.0,5125088,5095088.0,4851000.0,6473000,6472600.0,1885000.0,1750000.0,1750000.0,1750000.0
1,A.J. Bramlett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118974.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150000.0,406000.0,325000.0,275000.0
3,A.J. Guyton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Price,NaN,NaN,281484.0,947907.0,885120.0,854389.0,762195.0,457588.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Get info on NBA data
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2204 non-null   object
 1   2017    499 non-null    float64
 2   2016    500 non-null    float64
 3   2015    513 non-null    float64
 4   2014    501 non-null    float64
 5   2013    481 non-null    float64
 6   2012    464 non-null    float64
 7   2011    460 non-null    float64
 8   2010    457 non-null    float64
 9   2009    461 non-null    float64
 10  2008    470 non-null    float64
 11  2007    496 non-null    float64
 12  2006    480 non-null    float64
 13  2005    471 non-null    float64
 14  2004    455 non-null    float64
 15  2003    452 non-null    float64
 16  2002    451 non-null    float64
 17  2001    456 non-null    float64
 18  2000    517 non-null    float64
 19  1999    447 non-null    object
 20  1998    445 non-null    float64
 21  1997    416 non-null    float64
 22  1996    461 non-null    object
 23  1995    419 non-null    float64
 24  1994    386 non-null    float64
 25  1993    402 non-null    float64
 26  1992    384 non-null    float64
 27  1991    353 non-null    float64
dtypes: float64(25), object(3)
memory usage: 482.2+ KB

In [69]:
# Check for 'Unknown' values in the entire DataFrame
unknown_values_mask = nba_df.applymap(lambda x: x == 'Unknown')

# Get the rows and columns where 'Unknown' values are present
unknown_values_locations = (unknown_values_mask).any(axis=1)

# Display rows where 'Unknown' values are present
rows_with_unknown_values = nba_df[unknown_values_locations]
# print(rows_with_unknown_values)

# Display quantity of 'Unknown' values 
total_unknown_values = rows_with_unknown_values.count().sum()
print("Total 'Unknown' values:", total_unknown_values)

Total 'Unknown' values: 283

### NOTE:
above cell must be executed again after executing below cell to show proper removal of 'Unknown' values

In [70]:
# Replace 'Unknown's with NaN to match other non-numeric (NaN) values
nba_df = nba_df.replace(to_replace='Unknown', value=np.nan)

# Re-Check 'Unknown' values
print("Total 'Unknown' values:", total_unknown_values)

Total 'Unknown' values: 283

In [71]:
# Convert the object type columns to floats
nba_df['1999'] = nba_df['1999'].astype(float)
nba_df['1996'] = nba_df['1996'].astype(float)

# Re-check data
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2204 non-null   object
 1   2017    499 non-null    float64
 2   2016    500 non-null    float64
 3   2015    513 non-null    float64
 4   2014    501 non-null    float64
 5   2013    481 non-null    float64
 6   2012    464 non-null    float64
 7   2011    460 non-null    float64
 8   2010    457 non-null    float64
 9   2009    461 non-null    float64
 10  2008    470 non-null    float64
 11  2007    496 non-null    float64
 12  2006    480 non-null    float64
 13  2005    471 non-null    float64
 14  2004    455 non-null    float64
 15  2003    452 non-null    float64
 16  2002    451 non-null    float64
 17  2001    456 non-null    float64
 18  2000    517 non-null    float64
 19  1999    427 non-null    float64
 20  1998    445 non-null    float64
 21  1997    416 non-null    float64
 22  1996    450 non-null    float64
 23  1995    419 non-null    float64
 24  1994    386 non-null    float64
 25  1993    402 non-null    float64
 26  1992    384 non-null    float64
 27  1991    353 non-null    float64
dtypes: float64(27), object(1)
memory usage: 482.2+ KB

### Rounding Salary Values
Final desired format for all salary values will be whole numbers with no decimals

In [72]:
# Identify numeric columns (excluding 'Player' column)
numeric_columns = nba_df.select_dtypes(include=['number']).columns.difference(['Player'])

# Convert 'Salary' column to numeric, handling non-numeric values
#nba_df['Salary'] = pd.to_numeric(nba_df['Salary'], errors='coerce')

# Round and convert only the numeric columns (excluding 'Player' column)
nba_df[numeric_columns] = nba_df[numeric_columns].apply(lambda x: round(x).astype('Int64'))

# Print the modified DataFrame
print(nba_df)

                  Player  2017     2016     2015    2014    2013    2012  \
0             A.C. Green  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
1          A.J. Bramlett  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2           A.J. English  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
3            A.J. Guyton  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
4             A.J. Price  <NA>     <NA>   281484  947907  885120  854389
...                  ...   ...      ...      ...     ...     ...     ...
2199      Zeljko Rebraca  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2200     Zendon Hamilton  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2201        Zoran Dragic  <NA>  1756500  1756500    <NA>    <NA>    <NA>
2202      Zoran Planinic  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>
2203  Zydrunas Ilgauskas  <NA>     <NA>     <NA>    <NA>    <NA>    <NA>

         2011      2010      2009  ...     2000     1999     1998     1997  \
0        <NA>      <NA>      <NA>  ...  1700000  5125088  5095088  4851000
1        <NA>      <NA>      <NA>  ...   118974     <NA>     <NA>     <NA>
2        <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
3        <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
4      762195    457588      <NA>  ...     <NA>     <NA>     <NA>     <NA>
...       ...       ...       ...  ...      ...      ...      ...      ...
2199     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2200     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2201     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2202     <NA>      <NA>      <NA>  ...     <NA>     <NA>     <NA>     <NA>
2203  1352181  11541074  10841615  ...  9000000   936000   828000   720000

         1996     1995     1994     1993     1992     1991
0     6473000  6472600  1885000  1750000  1750000  1750000
1        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2        <NA>     <NA>   150000   406000   325000   275000
3        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
4        <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
...       ...      ...      ...      ...      ...      ...
2199     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2200     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2201     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2202     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>
2203     <NA>     <NA>     <NA>     <NA>     <NA>     <NA>

[2204 rows x 28 columns]

In [73]:
nba_df.head(15)

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,A.C. Green,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1700000,5125088,5095088,4851000,6473000,6472600,1885000,1750000,1750000,1750000
1,A.J. Bramlett,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,118974,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,A.J. English,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,150000,406000,325000,275000
3,A.J. Guyton,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,A.J. Price,<NA>,<NA>,281484,947907,885120,854389,762195,457588,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,A.J. Wynder,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,140000,130000,30000
6,Aaron Brooks,2700000,2250000,915243,947907,3250000,<NA>,2016692,1118520,1045560,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,Aaron Gordon,4351320,4171680,3992040,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
8,Aaron Gray,<NA>,1356146,1227985,2690875,2575000,2500000,1028840,1000497,711517,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,Aaron Harrison,874636,525093,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
10,Aaron McKie,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1624000,1430000,1235000,1040000,845000,650000,<NA>,<NA>,<NA>,<NA>
11,Aaron Miles,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
12,Aaron Swinson,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,102424,<NA>,<NA>,<NA>,<NA>
13,Aaron Williams,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1100000,575000,500000,169000,<NA>,150000,<NA>,<NA>,<NA>,<NA>
14,Acie Earl,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,1430000,1235000,1040000,845000,650000,<NA>,<NA>,<NA>

### NOTE:
`NaN` values are automatically converted to `<NA>`values when applying rounding and conversion operations to columns containing missing values in Pandas. <br>
`<NA>` is used specifically for missing values in nullable integer data types, providing better support for integer-specific operations.

In [74]:
# Add 'League' column, for purposes of the final merged DataFrame showing the league of each player

# Define desired column position
insert_pos = 0

# Create and insert 'League'column
nba_df.insert(insert_pos, 'League', 'NBA')

# Display DF to verify column addition
nba_df.head()

,League,Player,2017,2016,2015,2014,2013,2012,2011,2010,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
0,NBA,A.C. Green,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1700000,5125088,5095088,4851000,6473000,6472600,1885000,1750000,1750000,1750000
1,NBA,A.J. Bramlett,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,118974,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,NBA,A.J. English,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,150000,406000,325000,275000
3,NBA,A.J. Guyton,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,NBA,A.J. Price,<NA>,<NA>,281484,947907,885120,854389,762195,457588,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [75]:
# Review final NBA DataFrame info 
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   League  2204 non-null   object
 1   Player  2204 non-null   object
 2   2017    499 non-null    Int64
 3   2016    500 non-null    Int64
 4   2015    513 non-null    Int64
 5   2014    501 non-null    Int64
 6   2013    481 non-null    Int64
 7   2012    464 non-null    Int64
 8   2011    460 non-null    Int64
 9   2010    457 non-null    Int64
 10  2009    461 non-null    Int64
 11  2008    470 non-null    Int64
 12  2007    496 non-null    Int64
 13  2006    480 non-null    Int64
 14  2005    471 non-null    Int64
 15  2004    455 non-null    Int64
 16  2003    452 non-null    Int64
 17  2002    451 non-null    Int64
 18  2001    456 non-null    Int64
 19  2000    517 non-null    Int64
 20  1999    427 non-null    Int64
 21  1998    445 non-null    Int64
 22  1997    416 non-null    Int64
 23  1996    450 non-null    Int64
 24  1995    419 non-null    Int64
 25  1994    386 non-null    Int64
 26  1993    402 non-null    Int64
 27  1992    384 non-null    Int64
 28  1991    353 non-null    Int64
dtypes: Int64(27), object(2)
memory usage: 557.6+ KB

# NHL Data Cleaning

In [ ]:
# Read in csv for the NHL player salary data
# Utilize encoding='ISO-8859-1'
nhl_csv = '../data/raw/NHL_PlayerByYear.csv'
nhl_data = pd.read_csv(nhl_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
nhl_df = pd.DataFrame(nhl_data)
nhl_df.head()

In [ ]:
# Read in csv for NFL player salary data
# Utilize ISO-8859-1 encoding 
nfl_csv = '../data/raw/NFL_PlayerByYear.csv'
nfl_data = pd.read_csv(nfl_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame 
nfl_df = pd.DataFrame(nfl_data)
nfl_df.head()

In [ ]:
# Read in csv for the MLB player salary data
# UTF-8 default encoding was not reading, encoding='ISO-8859-1' likely needed for all csv's from the data source
mlb_csv = '../data/raw/MLB_PlayerByYear.csv'
mlb_data = pd.read_csv(mlb_csv, sep=';', encoding='ISO-8859-1')

# Create DataFrame
mlb_df = pd.DataFrame(mlb_data)
mlb_df.head()