In [2]:
# Module import/s
import pandas as pd

In [5]:
# Read in csv for the MLB player salary data
# UTF-8 default encoding was not reading, encoding='ISO-8859-1' likely needed for all csv's from the data source
csv_path = '../data/raw/MLB_PlayerByYear.csv'
mlb_data = pd.read_csv(csv_path, sep=';', encoding='ISO-8859-1')

# Create DataFrame
mlb_df = pd.DataFrame(mlb_data)
mlb_df.head(25)

,Player,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Abel De Los Santos,NaN,507.500,507.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Achter,NaN,507.500,507.500,500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Alexy,NaN,600.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Bogucki,NaN,150.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.J. Burnett,NaN,NaN,8.500.000,11.250.000,16.500.000,16.500.000,16.500.000,16.500.000,16.500.000,13.200.000,13.200.000,2.200.000,3.750.000,2.500.000,2.500.000,367.500,NaN,NaN
5,A.J. Cole,535.000,507.500,507.500,NaN,NaN,NaN,NaN,2.000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A.J. Ellis,2.500.000,4.500.000,4.250.000,3.550.000,2.000.000,490.000,421.000,400.000,400.000,NaN,NaN,NaN,NaN,NaN,2.500,NaN,NaN,NaN
7,A.J. Griffin,2.000.000,507.500,517.500,505.000,492.500,480.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A.J. Jimenez,535.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,A.J. Minter,535.000,NaN,814.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,A.J. Morris,NaN,507.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,A.J. Pierzynski,NaN,3.050.000,2.400.000,167.539,7.500.000,6.000.000,2.000.000,6.750.000,6.250.000,5.850.000,5.500.000,4.000.000,2.250.000,3.500.000,365.000,250.000,210.000,NaN
12,A.J. Pollock,6.750.000,3.500.000,519.500,507.000,491.000,480.000,NaN,NaN,1.400.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A.J. Puckett,NaN,1.200.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,A.J. Puk,NaN,4.069.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,A.J. Ramos,6.550.000,3.400.000,530.000,510.000,490.000,480.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,A.J. Reed,535.000,507.500,NaN,1.350.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,A.J. Schugel,535.000,507.500,507.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Aaron Altherr,538.500,515.500,507.500,500.000,NaN,NaN,NaN,NaN,150.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Aaron Arruda,125.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Aaron Barrett,NaN,519.400,514.200,500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Aaron Blair,535.000,507.500,NaN,NaN,1.435.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Aaron Bond,125.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Aaron Boone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.000,1.000.000,925.000,3.750.000,3.000.000,600.000,3.700.000,2.100.000,400.000,300.000
24,Aaron Bracho,1.500.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Analyze MLB data 
mlb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951 entries, 0 to 3950
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  3951 non-null   object
 1   2017    1811 non-null   object
 2   2016    1746 non-null   object
 3   2015    1462 non-null   object
 4   2014    1283 non-null   object
 5   2013    1402 non-null   object
 6   2012    1433 non-null   object
 7   2011    1353 non-null   object
 8   2010    977 non-null    object
 9   2009    929 non-null    object
 10  2008    728 non-null    object
 11  2007    622 non-null    object
 12  2006    509 non-null    object
 13  2005    396 non-null    object
 14  2004    282 non-null    object
 15  2003    222 non-null    object
 16  2002    166 non-null    object
 17  2001    110 non-null    object
 18  2000    84 non-null     object
dtypes: object(19)
memory usage: 586.6+ KB